.addProductsPage {
  h1 {
    text-align: center;
    margin: 40px;
    font-size: 50px;
  }

  h2 {
    text-align: center;
  }

  form {
    max-width: 500px;
    margin: auto;

    input,
    label,
    textarea {
      display: block;
      width: 100%;
    }
    textarea {
      height: 100px;
    }
    label {
      margin: 10px;
      font-size: 16px;
      font-weight: 500;
    }

    input {
      padding: 13px;
      color: #000000;
      border: 1px solid #c9c9c9;
      border-radius: 5px;
      background-color: transparent;
      font-weight: normal;
      font-size: 14px;
    }
    button {
      display: block;
      width: 100%;
      margin: 30px auto;
      padding: 10px;
      border: none;
      background: red;
      color: white;
      border-radius: 10px;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        background-color: black;
      }
    }
  }

  .detail {
    padding: 0 0 0px 100px;
    border-bottom: 1px solid #000;

    position: relative;

    .number {
      position: absolute;
      top: 20%;
      left: 20px;
      font-size: 40px;
    }
  }
}
