body {
  background-color: #fbfaf4;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding: 0 5px;
}

.loading {
  display: grid;
  height: 100vh;
  place-items: center;
}

.loading img {
  width: 70px;
}
